/* Container Style */
.job-card {
  background-color: black ;/* Light green background */
  color: #2d6a4f; /* Dark green text */
  /* Soft green border */
  border-radius: 8px;
  
  padding: 20px;
 margin-top: 20px;
}

/* Left Section - Image */
.job-image img {
  width: 80px; /* Adjust size as needed */
  height: auto;
 /* Soft green border around the image */
  border-radius: 8px;
  margin-right: 20px;
}

/* Middle Section - Content */
.job-content {
  flex: 1; /* Takes up the middle space */
  text-align: left;
  color: #2d6a4f; /* Dark green text */
 
 
}

.job-industry{
  font-size: 13px;
  margin-bottom: -5px;
}
.job-title{
  font-size: 16px;
  margin-bottom: 7px;
  font-weight: bold;
}
/* Right Section - Job Type and Apply Button */



.job-content p i {
  margin-right: 7px;
}

.job-content p span{
  font-size: 14px;
  margin-right: 10px;
}

.job-type {
  font-size: 12px;
  font-weight: bold;
  background-color: #95d5b2;
  border-radius: 10px;
  margin-right: -15px;
  margin-top: -10px;
  padding: 2px;
  color: #40916c; /* Medium green text */
}

.btn-primary{
  background-color: rgb(53, 121, 47); /* Medium green button */
  color: black;
  border: none;
  padding: 5px 10px;       
  border-radius: 5px;
  cursor: pointer;
  margin-top: 50px;
  margin-right: -15px;
  font-size: 13px;
}
.job-salary{
  margin-top: -10px;
  font-size: 13px;
}

.btn-primary:hover {
  background-color: #52b788; 
  /* Darker green hover effect */
}


@media (max-width: 1200px) {
  .job-image img {
    width: 60px; /* Adjust size as needed */
    height: auto;
     /* Soft green border around the image */
    border-radius: 8px;
    margin-right: 20px;
  }
 
 
 
}

@media (max-width: 796px) {
  .job-image img {
    width: 60px; /* Adjust size as needed */
    height: auto;
     /* Soft green border around the image */
    border-radius: 8px;
    margin-right: 20px;
  }

  
 
 
}
/* Responsive Styling */
@media (max-width: 500px) {
  .job-image img {
    width: 50px; /* Adjust size as needed */
    height: auto;
    border-radius: 8px;
    margin-right: 20px;
  }

  .btn-primary{
   
    margin-left: 0px;
    font-size: 8px;
  }
 
 
}
